#root {
  background-color: #242424;
}

.stats-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button-row :not(:first-child) {
  margin-left: 0.5rem;
}